/* Colors To be used:
#ecf4f3
#d1eecc
#76dbd1
#57a99a
#AFCFBC
#032230
*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #032230;
}

h1 {
  margin: 0;
  font-family: 'Parisienne', cursive;
  padding: 4px;
  font-size: 200%;
  color: #032230;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 4px;
  font-size: 120%;
  color: #032230;
}

p {
  margin: 0;
  padding: 4px;
  font-size: 1.05rem;
  color: #032230;
}

hr {
  display: inline-block;
  border-style: dotted;
  border-width: 10px 0 0 0;
  margin: 5px auto;
  width: 10%;

}

.top-container {
  background-color: #ecf4f3;
  border: none;
}

.middle-container {
  background-color: #ffffff;
}

.bottom-container {
  background-color: #ffffff;
  padding-bottom: 100px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  right: 65%;
}

.top-cloud {
  position: relative;
  left: 20%;
  padding-top: 70px;
}

.image-profile {
  margin-top: 50px;
  width: 15%;
  background-color: #AFCFBC;
  border-radius: 75%;
}

.forest {
  padding-top: 50px;
}

hr {
  margin: 0;
}

.first-row {
  margin: 100px auto 100px auto;
}

.first-skill
{
  text-align: left;
}

.biogas {
  background-color: #AFCFBC;
  border-radius: 10%;
  margin: auto 0 auto 70%;

}

.second-row {
  margin: 100px auto 100px auto;
}

.second-skill{
      text-align: right;
}

.data-image {
  background-color: #AFCFBC;
  border-radius: 10%;
  margin: auto 70% auto 0;
}

.third-row {
  margin: 100px auto 100px auto;
}

.third-skill{
  text-align: left;
}

.teaching {
  background-color: #AFCFBC;
  border-radius: 10%;
  margin: auto 0 auto 70%;
}

.fourth-row {
  margin: 100px auto 0 auto;
}

.fourth-skill{
  text-align: right;
}

.index {
  background-color: #AFCFBC;
  border-radius: 10%;
  margin: auto 70% auto 0;
}

.btn {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #032230;
}

.footer-link {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #032230;
}

.contact-me {
  background-image: url("../Images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.row{
  margin-left: 0;
  margin-right: 0;
}
